<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>RoganMusicApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>MADE TOMMY Black Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Black_PERSONAL USE.otf</string>
		<string>MADE TOMMY Bold Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Bold_PERSONAL USE.otf</string>
		<string>MADE TOMMY ExtraBold Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY ExtraBold_PERSONAL USE.otf</string>
		<string>MADE TOMMY Light Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Light_PERSONAL USE.otf</string>
		<string>MADE TOMMY Medium Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Medium_PERSONAL USE.otf</string>
		<string>MADE TOMMY Regular Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Regular_PERSONAL USE.otf</string>
		<string>MADE TOMMY Thin Outline_PERSONAL USE.otf</string>
		<string>MADE TOMMY Thin_PERSONAL USE.otf</string>
		<string>Archivo-Black.ttf</string>
		<string>Archivo-BlackItalic.ttf</string>
		<string>Archivo-Bold.ttf</string>
		<string>Archivo-BoldItalic.ttf</string>
		<string>Archivo-ExtraBold.ttf</string>
		<string>Archivo-ExtraBoldItalic.ttf</string>
		<string>Archivo-ExtraLight.ttf</string>
		<string>Archivo-ExtraLightItalic.ttf</string>
		<string>Archivo-Italic.ttf</string>
		<string>Archivo-Light.ttf</string>
		<string>Archivo-LightItalic.ttf</string>
		<string>Archivo-Medium.ttf</string>
		<string>Archivo-MediumItalic.ttf</string>
		<string>Archivo-Regular.ttf</string>
		<string>Archivo-SemiBold.ttf</string>
		<string>Archivo-SemiBoldItalic.ttf</string>
		<string>Archivo-Thin.ttf</string>
		<string>Archivo-ThinItalic.ttf</string>
	</array>
</dict>
</plist>
